
body {
	font-family: 'Open Sans', sans-serif;
	background:#383535;
	
	
}

.container {
	width: 600px;
	margin: 0 auto;
	
}

.list-header {
	width: 100%;
	margin-top: 8em;
}

.list-header > h1 {
	text-align: center;
	font-size: 3em;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	}


#intro-screen{
	text-align: center;
	
	
}

h3{
	color: white;
	font-size: 1.3em;
	margin-top:2.5em;
	font-weight: 300;
}

#get-started {
	border-radius: 15px;
    background: #a7ff87;
    height: 40px;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    width: 190px;
    margin: 0 auto;
    padding-top: 10px;
    color: #383535;
    cursor: pointer;

}

#get-started:hover{
	background:#FC987E;
}



#quiz-box {
	border: 3px solid #ffff4d;
	border-radius: 15px;
 	padding-left: 1em;
   	margin-top:  -1em;
   	display:none;  	

}


#quiz-box h2{
	color: white;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;

}

#add-new {
	width: 100%;
	text-align: center;


}

input {
	font-size: 1.2em;

	
}

button {
	color:#ff7c6b;
}


.box{
	float:left;


}



.cat-button {
	background: url(../images/cat-button.png);
	height: 42px;
	width: 50px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	float:left;
	z-index: -1;
	position:relative;
	
	

}

.checked{
	height: 42px;
	width: 50px;
	background: url(../images/checked-button.png);
	background-repeat: no-repeat;
	box-sizing: border-box;
	float:left;
	position:relative;
	
	
}



.answer{
	margin-bottom: 1em;

}



p {
	text-align: left;
	color: #8f8f8f;
	font-size: 1.1em;
	display: inline;
	line-height: 2.6em;	
	padding-left: 1em;

}

ul li{
	list-style: none;
	cursor: pointer;
}

#under-quiz{
	margin-top: 15px;
	display:none;
	
	
	
}

#question-count {
	float: left;
	width: 40%;
	display: inline-block;
	color: #a7ff87;
	font-weight: 600;
	font-size: 1.2em;
	padding-left: .3em;
	box-sizing: border-box;
}


#submit {

	border-radius: 15px;
    background: #a7ff87;
    height: 50px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    float: left;
    width: 20%;
    display: inline-block;
    padding-top: 10px;
    cursor: pointer;
	box-sizing: border-box; 
   
}

#submit:hover{
	background: #FC987E;
}

#new-game {
	float: left;
	width: 40%;
	display: inline-block;
	padding-left: 6em;
	box-sizing: border-box;
	color: #a7ff87;
	font-weight: 600;
	font-size: 1.2em;
	cursor: pointer;

}


#new-game:hover{
	color:#FC987E;

}


#display-correct {
	text-align: center;
	width:100%;
	margin-top: 3em;
	color: white;
	display: none;

}

#display-wrong {
	text-align: center;
	width:100%;
	margin-top: 3em;
	color: white;
	display: none;

}




#results-screen{
	border: 3px solid #ffff4d;
	border-radius: 15px;
 	padding-left: 1em;
   	margin-top:  -1em;
   	color: white;
   	text-align: center;
   	display: none;

}

.result > h1{
	font-size: 3.5em;
}

.correct-answer{
	margin-top: -2em;
	color: white;
	
}

.correct-answer >p{
	color:white;

}

.results-screen > img{

	padding-right: 1.2em;
	margin-bottom:1em;
}


